In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataBases/airport.csv')

In [3]:
df.head(10)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,year_built,year_tier,Closed,home_link,wikipedia_link,keywords,score
0,26555,VIDP,large_airport,Indira Gandhi International Airport,28.566500,77.103104,777.0,IN-DL,New Delhi,1,VIDP,DEL,NaN,1930.0,1950.0,n,http://www.newdelhiairport.in/,http://en.wikipedia.org/wiki/Indira_Gandhi_Int...,Palam Air Force Station,51475
1,26434,VABB,large_airport,Chhatrapati Shivaji International Airport,19.088699,72.867897,39.0,IN-MM,Mumbai,1,VABB,BOM,NaN,1942.0,1950.0,n,http://www.csia.in/,http://en.wikipedia.org/wiki/Chhatrapati_Shiva...,"Bombay, Sahar International Airport",1014475
2,26618,VOMM,large_airport,Chennai International Airport,12.990005,80.169296,52.0,IN-TN,Chennai,1,VOMM,MAA,NaN,1910.0,1950.0,n,NaN,http://en.wikipedia.org/wiki/Chennai_Internati...,NaN,51150
3,35145,VOBL,large_airport,Kempegowda International Airport,13.197900,77.706299,3000.0,IN-KA,Bangalore,1,VOBL,BLR,NaN,2008.0,2010.0,n,http://www.bengaluruairport.com/home/home.jspx,https://en.wikipedia.org/wiki/Kempegowda_Inter...,NaN,51200
4,26444,VAGO,large_airport,Goa International Airport,15.380800,73.831398,150.0,IN-GA,Vasco da Gama,1,VOGO,GOI,NaN,1955.0,1955.0,n,NaN,http://en.wikipedia.org/wiki/Dabolim_Airport,"Goa Airport, Dabolim Navy Airbase, ________隷怄_...",875
5,26609,VOCI,large_airport,Cochin International Airport,10.152000,76.401901,30.0,IN-KL,Kochi,1,VOCI,COK,NaN,1999.0,2000.0,n,http://www.cochin-airport.com/,http://en.wikipedia.org/wiki/Cochin_Internatio...,Cochin,1000
6,26496,VECC,large_airport,Netaji Subhash Chandra Bose International Airport,22.654699,88.446701,16.0,IN-WB,Kolkata,1,VECC,CCU,NaN,1929.0,1950.0,n,NaN,http://en.wikipedia.org/wiki/Netaji_Subhash_Ch...,"Calcutta, Kolkatta, Dum Dum Air Force Station",1200
7,35141,VOHS,large_airport,Rajiv Gandhi International Airport,17.231318,78.429855,2024.0,IN-TG,Hyderabad,1,VOHS,HYD,NaN,2008.0,2010.0,n,http://www.shamshabadairport.com/,http://en.wikipedia.org/wiki/Rajiv_Gandhi_Inte...,"Shamshabad, Hyderabad",1200
8,26629,VOTV,large_airport,Trivandrum International Airport,8.482120,76.920097,15.0,IN-KL,Thiruvananthapuram,1,VOTV,TRV,NaN,1932.0,1950.0,n,NaN,http://en.wikipedia.org/wiki/Trivandrum_Intern...,"Thiruvananthapuram International Airport, Triv...",1050
9,26563,VIJP,medium_airport,Jaipur International Airport,26.824200,75.812202,1263.0,IN-RJ,Jaipur,1,VIJP,JAI,NaN,NaN,NaN,n,http://aai.aero/allAirports/jaipur_generalinfo...,http://en.wikipedia.org/wiki/Jaipur_Airport,NaN,1050

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 337 non-null    int64
 1   ident              337 non-null    object
 2   type               337 non-null    object
 3   name               337 non-null    object
 4   latitude_deg       337 non-null    float64
 5   longitude_deg      337 non-null    float64
 6   elevation_ft       262 non-null    float64
 7   iso_region         337 non-null    object
 8   municipality       170 non-null    object
 9   scheduled_service  337 non-null    int64
 10  gps_code           232 non-null    object
 11  iata_code          132 non-null    object
 12  local_code         58 non-null     object
 13  year_built         89 non-null     float64
 14  year_tier          89 non-null     float64
 15  Closed             337 non-null    object
 16  home_link          44 non-null     object
 17  wikipedia_link     134 non-null    object
 18  keywords           91 non-null     object
 19  score              337 non-null    int64
dtypes: float64(5), int64(3), object(12)
memory usage: 52.8+ KB

In [5]:
df.describe()

,id,latitude_deg,longitude_deg,elevation_ft,scheduled_service,year_built,year_tier,score
count,337.000000,337.000000,337.000000,262.000000,337.000000,89.000000,89.000000,3.370000e+02
mean,62662.946588,22.826837,80.861196,1448.362595,0.249258,1962.033708,1968.494382,3.685760e+03
std,94991.519843,6.128305,8.189304,2454.905728,0.433227,27.391708,22.777642,5.543450e+04
min,3283.000000,0.000000,0.000000,5.000000,0.000000,1910.000000,1950.000000,0.000000e+00
25%,26457.000000,19.719444,75.845596,310.250000,0.000000,1942.000000,1950.000000,0.000000e+00
50%,26578.000000,23.631500,78.971497,760.000000,0.000000,1951.000000,1955.000000,5.000000e+01
75%,46481.000000,26.888700,86.706944,1684.750000,0.000000,1987.000000,1990.000000,2.500000e+02
max,325010.000000,35.500000,97.019661,22000.000000,1.000000,2018.000000,2018.000000,1.014475e+06

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,337.0,62662.946588,94991.519843,3283.0,26457.000000,26578.000000,46481.000000,3.250100e+05
latitude_deg,337.0,22.826837,6.128305,0.0,19.719444,23.631500,26.888700,3.550000e+01
longitude_deg,337.0,80.861196,8.189304,0.0,75.845596,78.971497,86.706944,9.701966e+01
elevation_ft,262.0,1448.362595,2454.905728,5.0,310.250000,760.000000,1684.750000,2.200000e+04
scheduled_service,337.0,0.249258,0.433227,0.0,0.000000,0.000000,0.000000,1.000000e+00
year_built,89.0,1962.033708,27.391708,1910.0,1942.000000,1951.000000,1987.000000,2.018000e+03
year_tier,89.0,1968.494382,22.777642,1950.0,1950.000000,1955.000000,1990.000000,2.018000e+03
score,337.0,3685.759644,55434.498845,0.0,0.000000,50.000000,250.000000,1.014475e+06